@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  --background: #3f3f3f;
  --background-dark: #2f2f2f;
  --background-light: #afafaf;
  
  --algebra: #42A5F5;
  --eoe: #FFEE58;
  --dhp: #ef5350;
  --dp: #9CCC65;
  --philosophy: #26A69A;
  --computing: #7E57C2;
  --orientation: #EC407A;
  --english: #26C6DA;
  --history: #A1887F;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono', monospace
}

.c-imposter {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--background-light);
}

.c-container {
  width: 85%;
  padding: 1em;

  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);

  background: var(--background);
}

.c-schedule {
  display: grid;
  grid-template-columns: [cols-start] 1fr [monday] 2fr [tuesday] 2fr [wednesday] 2fr [thursday] 2fr [friday] 2fr [weekend];
  grid-template-rows: [_rows-start] 1fr [_7hrs] 2fr [_8hrs] 2fr [_9hrs] 2fr [_10hrs] 2fr [_11hrs] 2fr [_12hrs] 2fr [_13hrs] 2fr [_14hrs];
  grid-gap: .5em;
}

.c-schedule__item {
  background: var(--background-dark);
  color: white;

  min-height: 1.5em;

  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.c-schedule__header--row {
  grid-column-start: cols-start;
}

/* ==== block subjects ==== */

.subject {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  z-index: 200;

  transition: transform .3s, box-shadow .3s;
  transition-delay: .1s;
}

.subject:hover {
  transform: translate(-4px, -4px);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, .5);
  z-index: 500;
}

.subject:active {
  transition-delay: 0s;
  transform: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.subject span {
  color:black;
  font-size: 1.1em;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, .3);
}

.subject span::selection {
  background: none;
  color: black;
}

.subject i {
  position: absolute;
  right: .2em;
  bottom: -.2em;

  color: rgba(0, 0, 0, .3);
  font-size: 3em;
}

.subject--algebra {
  background: var(--algebra);
}

.subject--algebra i {
  right: .3em;
  font-size: 3em;
  transform: rotate(-30deg);
}

.subject--eoe {
  background: var(--eoe);
}

.subject--eoe i {
  bottom: -.1em;
}

.subject--dhp {
  background: var(--dhp);
}

.subject--dhp i {
  transform: rotate(-30deg);
}

.subject--dp {
  background: var(--dp);
}

.subject--philosophy {
  background: var(--philosophy);
}

.subject--computing {
  background: var(--computing);
}

.subject--computing i {
  transform: rotate(-30deg);
}

.subject--orientation {
  background: var(--orientation);
}

.subject--english {
  background: var(--english);
}

.subject--english i {
  transform: rotate(-30deg);
}

.subject--history {
  background: var(--history);
}

.subject--history i {
  bottom: -.1em;
  font-size: 3em;
}

/* ==== end block ==== */

/* ==== block columns ==== */

.from-cols-start {
  grid-column-start: cols-start;
}

.from-monday {
  grid-column-start: monday;
}

.to-monday {
  grid-column-end: monday;
}

.from-tuesday {
  grid-column-start: tuesday;
}

.to-tuesday {
  grid-column-end: tuesday;
}

.from-wednesday {
  grid-column-start: wednesday;
}

.to-wednesday {
  grid-column-end: wednesday;
}

.from-thursday {
  grid-column-start: thursday;
}

.to-thursday {
  grid-column-end: thursday;
}

.from-friday {
  grid-column-start: friday;
}

.to-friday {
  grid-column-end: friday;
}

.to-weekend {
  grid-column-end: weekend;
}

/* ==== end block ==== */

/* ==== block rows ==== */

.from-rows-start {
  grid-row-start: _rows-start;
}

.from-7hrs {
  grid-row-start: _7hrs;
}

.to-7hrs {
  grid-row-end: _7hrs;
}

.from-8hrs {
  grid-row-start: _8hrs;
}

.to-8hrs {
  grid-row-end: _8hrs;
}

.from-9hrs {
  grid-row-start: _9hrs;
}

.to-9hrs {
  grid-row-end: _9hrs;
}

.from-10hrs {
  grid-row-start: _10hrs;
}

.to-10hrs {
  grid-row-end: _10hrs;
}

.from-11hrs {
  grid-row-start: _11hrs;
}

.to-11hrs {
  grid-row-end: _11hrs;
}

.from-12hrs {
  grid-row-start: _12hrs;
}

.to-12hrs {
  grid-row-end: _12hrs;
}

.from-13hrs {
  grid-row-start: _13hrs;
}

.to-13hrs {
  grid-row-end: _13hrs;
}

.to-14hrs {
  grid-row-end: _14hrs;
}

/* ==== end block ==== */