@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  --background: #3f3f3f;
  --background-dark: #2f2f2f;
  --background-light: #afafaf;
  
  --algebra: #42A5F5;
  --eoe: #FFEE58;
  --dhp: #ef5350;
  --dp: #9CCC65;
  --philosophy: #26A69A;
  --computing: #7E57C2;
  --orientation: #EC407A;
  --english: #26C6DA;
  --history: #A1887F;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono', monospace
}

.l-imposter {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  background: var(--background-light);
}

.l-container {
  height: 100%;
  width: 100%;
  
  padding: .5em;
  
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
  
  background: var(--background);
}

.c-schedule {
  --i: 2;
  --distance: calc(var(--i) * (-100% - 0.5rem));
  
  width: 100%;
  height: 100%;
  
  display: grid;
  
  grid-template-columns: [cols-start] 1fr [nested] 3fr [cols-end];
  grid-template-rows: [_rows-start] 1fr [_7hrs] 2fr [_8hrs] 2fr [_9hrs] 2fr [_10hrs] 2fr [_11hrs] 2fr [_12hrs] 2fr [_13hrs] 2fr [_14hrs];
  
  grid-gap: .5em;
}

.c-schedule__item {
  background: var(--background-dark);
  color: white;
  cursor: default;
  
  margin: 4px;
  
  min-height: 1.5em;
  
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-schedule__item span::selection {
  background: none;
  color: white;
}

.c-schedule__header--row {
  grid-column-start: cols-start;
}

/* ==== block nested ==== */

.c-schedule__nested-container {
  grid-row-start: _rows-start;
  grid-row-end: _14hrs;
  
  overflow: hidden;
}

.c-schedule__nested {
  width: 100%;
  height: 100%;
  
  display: grid;
  
  grid-template-rows: [_rows-start] 1fr [_7hrs] 2fr [_8hrs] 2fr [_9hrs] 2fr [_10hrs] 2fr [_11hrs] 2fr [_12hrs] 2fr [_13hrs] 2fr [_14hrs];
  grid-template-columns: [monday] 100% [tuesday] 100% [wednesday] 100% [thursday] 100% [friday] 100% [weekend];
  
  grid-gap: .5em;
  
  transition: transform .5s ease-in-out;
  transform: translate(var(--distance));
}

/* ==== end block ==== */

/* ==== block subjects ==== */

.c-subject {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  font-size: 24px;
  
  z-index: 200;
  
  transition: transform .3s, box-shadow .3s;
  transition-delay: .1s;
}

.c-subject:hover {
  transform: translate(-4px, -4px);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, .5);
  z-index: 500;
}

.c-subject:active {
  transition-delay: 0s;
  transform: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.c-subject span {
  color:black;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, .3);
}

.c-subject span::selection {
  background: none;
  color: black;
}

.c-subject i {
  position: absolute;
  right: .2em;
  bottom: -.2em;
  
  color: rgba(0, 0, 0, .3);
  font-size: 3em;
}

.c-subject--algebra {
  background: var(--algebra);
}

.c-subject--algebra i {
  right: .3em;
  font-size: 3em;
  transform: rotate(-30deg);
}

.c-subject--eoe {
  background: var(--eoe);
}

.c-subject--eoe i {
  bottom: -.1em;
}

.c-subject--dhp {
  background: var(--dhp);
}

.c-subject--dhp i {
  transform: rotate(-30deg);
}

.c-subject--dp {
  background: var(--dp);
}

.c-subject--philosophy {
  background: var(--philosophy);
}

.c-subject--computing {
  background: var(--computing);
}

.c-subject--computing i {
  transform: rotate(-30deg);
}

.c-subject--orientation {
  background: var(--orientation);
}

.c-subject--english {
  background: var(--english);
}

.c-subject--english i {
  transform: rotate(-30deg);
}

.c-subject--history {
  background: var(--history);
}

.c-subject--history i {
  bottom: -.1em;
  font-size: 3em;
}

/* ==== end block ==== */

/* ==== block tablet ==== */

@media (orientation: landscape) {
  .l-container {
    height: 100%;
    width: 100%;
    
    font-size: 12px;
    
    border-radius: 0;
    
    padding: .5em;
  }
  
  .c-schedule {
    grid-template-columns: [cols-start] 1fr [nested] 10fr [cols-end];
  }
  
  .c-schedule__nested-container {
    padding-left: 4px;
  }
  
  .c-schedule__nested {
    width: calc(100% - 4px);
    grid-template-columns: [monday] 2fr [tuesday] 2fr [wednesday] 2fr [thursday] 2fr [friday] 2fr [weekend];
    transform: none;
  }
  
  .c-schedule__item {
    margin: 0;
  }

  .c-subject {
    font-size: 16px;
  }

  .h-merge {
    display: none !important;
  }
  
  /* ==== block columns ==== */
  
  .from-cols-start {
    grid-column-start: cols-start;
  }
  
  .to-monday {
    grid-column-end: monday;
  }
  
  .to-tuesday {
    grid-column-end: tuesday;
  }
  
  .to-wednesday {
    grid-column-end: wednesday;
  }
  
  .to-thursday {
    grid-column-end: thursday;
  }
  .to-friday {
    grid-column-end: friday;
  }
  
  .to-weekend {
    grid-column-end: weekend;
  }
  
  /* ==== end block ==== */
}

@media (min-width: 576px) and (orientation: portrait) {
  .l-container {
    width: 540px;
    height: calc(100% - 2em);
    
    border-radius: .5em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
  }
}

@media (min-width: 768px) {
  .l-container {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .l-container {
    width: 720px;
    
    border-radius: 8px;
  }
}

@media (min-width: 992px) {
  .l-container {
    width: 960px;
    height: calc(100% - 2em);
    
    font-size: 16px;
    
    border-radius: .5em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
  }
}

@media (min-width: 1240px) {
  .l-container {
    width: 1200px;
  }
}

/* ==== end block ==== */

/* ==== block columns ==== */

.from-monday {
  grid-column-start: monday;
}

.from-tuesday {
  grid-column-start: tuesday;
}

.from-wednesday {
  grid-column-start: wednesday;
}

.from-thursday {
  grid-column-start: thursday;
}

.from-friday {
  grid-column-start: friday;
}

/* ==== end block ==== */

/* ==== block rows ==== */

.from-rows-start {
  grid-row-start: _rows-start;
}

.from-7hrs {
  grid-row-start: _7hrs;
}

.to-7hrs {
  grid-row-end: _7hrs;
}

.from-8hrs {
  grid-row-start: _8hrs;
}

.to-8hrs {
  grid-row-end: _8hrs;
}

.from-9hrs {
  grid-row-start: _9hrs;
}

.to-9hrs {
  grid-row-end: _9hrs;
}

.from-10hrs {
  grid-row-start: _10hrs;
}

.to-10hrs {
  grid-row-end: _10hrs;
}

.from-11hrs {
  grid-row-start: _11hrs;
}

.to-11hrs {
  grid-row-end: _11hrs;
}

.from-12hrs {
  grid-row-start: _12hrs;
}

.to-12hrs {
  grid-row-end: _12hrs;
}

.from-13hrs {
  grid-row-start: _13hrs;
}

.to-13hrs {
  grid-row-end: _13hrs;
}

.to-14hrs {
  grid-row-end: _14hrs;
}

/* ==== end block ==== */