:root {
  --background: #3f3f3f;
  --background-dark: #2f2f2f;
  --background-light: #afafaf;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.c-imposter {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--background-light);
}

.c-container {
  width: 85%;
  padding: 1em;

  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);

  background: var(--background);
}

.c-schedule {
  display: grid;
  grid-template-columns: [cols-start] 1fr [monday] 2fr [tuesday] 2fr [wednesday] 2fr [thursday] 2fr [friday] 2fr [weekend];
  grid-template-rows: [_rows-start] 1fr [_7] 2fr [_8] 2fr [_9] 2fr [_10] 2fr [_11] 2fr [_12] 2fr [_13] 2fr [_14];
  grid-gap: .5em;
}

.c-schedule__item {
  background: var(--background-dark);
  color: white;

  min-height: 1.5em;

  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.c-schedule__header--row {
  grid-column-start: row-headers;
}

/* ==== Columns      ======== */

.from-cols-start {
  grid-column-start: cols-start;
}

.from-monday {
  grid-column-start: monday;
}

.to-monday {
  grid-column-end: monday;
}

.from-tuesday {
  grid-column-start: tuesday;
}

.to-tuesday {
  grid-column-end: tuesday;
}

.from-wednesday {
  grid-column-start: wednesday;
}

.to-wednesday {
  grid-column-end: wednesday;
}

.from-thursday {
  grid-column-start: thursday;
}

.to-thursday {
  grid-column-end: thursday;
}

.from-friday {
  grid-column-start: friday;
}

.to-friday {
  grid-column-end: friday;
}

.to-weekend {
  grid-column-end: weekend;
}

/* ==== Rows     ======== */

.from-rows-start {
  grid-row-start: _rows-start;
}

.from-7 {
  grid-row-start: _7;
}

.to-7 {
  grid-row-end: _7;
}

.from-8 {
  grid-row-start: _8;
}

.to-8 {
  grid-row-end: _8;
}

.from-9 {
  grid-row-start: _9;
}

.to-9 {
  grid-row-end: _9;
}

.from-10 {
  grid-row-start: _10;
}

.to-10 {
  grid-row-end: _10;
}

.from-11 {
  grid-row-start: _11;
}

.to-11 {
  grid-row-end: _11;
}

.from-12 {
  grid-row-start: _12;
}

.to-12 {
  grid-row-end: _12;
}

.from-13 {
  grid-row-start: _13;
}

.to-13 {
  grid-row-end: _13;
}

.to-14 {
  grid-row-end: _14;
}

